body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background: "#f3f2ee";

  /* background: rgb(231, 226, 231); */
  /* background: linear-gradient(
    90deg,
    rgba(231, 226, 231, 1) 4%,
    rgba(231, 225, 231, 1) 24%,
    rgba(226, 224, 227, 1) 46%,
    rgba(242, 242, 242, 1) 100%
  ); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
